$primary-color: #f4801c;
$secondary-color: #2f665f;
$footer-bg: #f3ab46;
$button-primary-hover: #1f4d45;
$button-primary-bg: #2f665f;
$text-color: black;
$text-specific-color: white;
$inputBorder: 1px solid #ccc;
$gradient: linear-gradient(to bottom, #f3af4a 0%, #f46300 100%);
