.login-form {
  @extend .flex-center;
  flex-direction: column;
  justify-content: start;
  gap: 25px;
  width: 100%;
  max-width: 320px;
  padding: 100px 0 0 0;
  flex-grow: 1;
  min-height: calc(100lvh - 301px);
}

.input-group {
  display: flex;
  align-items: center;
  border: $inputBorder;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
}

.input-group i {
  margin-right: 10px;
  color: $text-color;
}

.input-group input {
  border: none;
  outline: none;
  flex: 1;
  &::placeholder {
    color: $text-color;
    font-weight: bold;
  }
}
.link {
  color: $button-primary-bg;
  &:hover {
    text-decoration: none;
  }
}
.forgot-password {
  align-self: end;
}
input[type="date"] {
  background-color: transparent;
  color: black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  position: relative;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  color: gray;
  position: absolute;
  width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "";
}

@media screen and (max-width: 767px) {
  .login-form {
    padding: 0;
    justify-content: center;
  }
}
